html,
body {
    height: 100%;
    margin: 0;
    max-height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Josefin Slab', sans-serif;
}

.root-content {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    .root-content {
        height: 75%;
        width: 80%;
    }
}