html,
body {
  height: 100%;
  margin: 0;
  max-height: 100%;
  width: 100%;
}

#root {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
