<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%for(i=0; i<htmlWebpackPlugin.options.links.length; i++) {%>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.links[i] %>"/><% } %>
</head>
<body>
<div id="root" class="full-screen"></div>
</body>
</html>
